<p id="notice"><%= notice %></p>

<div classe = container>
  <h1><%= @restaurant.name %></h1>
  <h5>Address:</h5>
  <p><%= @restaurant.address %></p>
  <h5>Phone:</h5>
  <p><%= @restaurant.phone_number %></p>
  <h5>Category:</h5>
  <p><%= @restaurant.category %></p>
  <h5>Reviews:</h5>
  <p><% @restaurant.reviews.each do |review| %></p>
  <%= review.content %> <%= review.rating %>/5
  <% end %>
</div>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<p><%= link_to '⟲ Back to list', restaurants_path %></p>
